*.log
*.log
*.pot
*.pyc
__pycache__
*.sqlite3
.env/
node_modules/
build/
package-lock.json
todo.txt
.vscode/
tester/frontend/static/frontend/*
log
tester/backend/migrations/*
tester/frontend/migrations/*
static/*
